.dropdown {
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    color: #333;
}

.dropdown .dropdown-title {
    font-size: 24px;
    outline: none;
}

.dropdown:focus,
.dropdown:active {
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #333;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

nav ul li a:hover {
    color: #6c6c6c;
}

nav ul li a:active {
    text-decoration: underline;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

header img {
    display: block;
    width: 120px;
    margin: auto;
}